p { font-weight: 400;
    font-family: 'Indie Flower', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Source Code Pro', monospace;
}
p.fuentediferente {font-style: italic; }

h1 {font-style: italic;
    font-size: 50px;
}